.venv
hexlet-code/brain_games/__pycache__/
hexlet-code/brain_games/scripts/__pycache__/
hexlet-code/brain_games/games/__pycache__/
demo.cast
demo.cast.calc
demo.cast.gcd
demo.cast.prime
demo.cast.progression
main.py
